---
import Backgrounds from '@/components/Backgrounds.astro';
import BodySection from '@/components/BodySection.astro';
import Card from '@/components/Card.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import LinksSection from '@/components/LinksSection.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Jesus Alejandro Gutierrez Guevara" image="/linktree/og.png">
    <Backgrounds />
    <main class="z-50 px-4 pt-6">
        <Card>
            <Header title="Jesús Alejandro Gutierréz Guevara" />
            <BodySection />
            <LinksSection />
        </Card>
        <Footer />
    </main>
    <div
        id="noise"
        class="fixed inset-0 before:absolute before:inset-0 before:bg-repeat before:opacity-15"
    >
    </div>
    <script>
        import { backgroundStars } from '@/utils';
        backgroundStars();
    </script>
</BaseLayout>
<style>
    #noise::before {
        content: '';
        background-size: 1px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    }
</style>
