---
import Backgrounds from '@/components/Backgrounds.astro';
import BodySection from '@/components/BodySection.astro';
import Card from '@/components/Card.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import LinksSection from '@/components/LinksSection.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Jesus Alejandro Gutierrez Guevara" image="/og.png">
    <Backgrounds />
    <main class="z-50 px-4 pt-6">
        <Card>
            <Header title="Jesús Alejandro Gutierréz Guevara" />
            <BodySection />
            <LinksSection />
        </Card>
        <Footer />
    </main>
    <script>
        import { backgroundStars } from '@/utils';
        backgroundStars();
    </script>
</BaseLayout>
