<div class="absolute inset-0">
    <!-- whole back background -->
    <div
        class="absolute inset-0 z-10 bg-gradient-to-br from-sky-600 from-[-150%] to-black to-[120%]"
    >
        <!-- greeninsh left side circle -->
        <!-- smaller than 640px -->
        <div
            class="absolute inset-0 z-20 bg-[radial-gradient(900px_at_-85%_-40%,#2dd4bf,transparent)] sm:hidden"
        >
        </div>
        <!-- smaller than 768px -->
        <div
            class="absolute inset-0 z-20 hidden bg-[radial-gradient(1100px_at_-80%_-20%,#2dd4bf,transparent)] sm:max-md:block"
        >
        </div>
        <!-- smaller than 1024px -->
        <div
            class="absolute inset-0 z-20 hidden bg-[radial-gradient(1400px_at_-80%_-50%,#2dd4bf,transparent)] md:max-lg:block"
        >
        </div>
        <!-- smaller than 1280px -->
        <div
            class="absolute inset-0 z-20 hidden bg-[radial-gradient(1600px_at_-70%_-60%,#2dd4bf,transparent)] lg:max-xl:block"
        >
        </div>
        <!-- bigger  than 1280px -->
        <div
            class="absolute inset-0 z-20 hidden bg-[radial-gradient(1600px_at_-40%_-60%,#2dd4bf,transparent)] xl:block"
        >
        </div>

        <!-- greeninsh left side circle -->

        <div
            class="absolute inset-0 z-20 bg-[radial-gradient(800px_at_80%_120%,#0c0b3a,transparent)]"
        >
        </div>
    </div>
</div>
