<section>
    <div class="flex w-full flex-col border-t border-gray-300 px-4 py-4">
        <!-- <IconsSection /> -->
        <p class="text-pretty text-xs leading-[18px] tracking-wider text-white/90 sm:text-sm">
            Comprometido en impulsar el avance tecnológico, enfocado en <strong
                class="text-gray-650 font-medium text-white"
            >
                Guiar a emprendedores y pequeños empresarios</strong
            > hacia nuevas perspectivas de éxito en el ámbito digital. Brindando conocimientos y
            <strong class="text-gray-650 font-medium text-white">
                estrategias para destacar y prosperar en el mundo tecnológico.</strong
            >
        </p>
    </div>
</section>
