<footer class="mx-auto flex max-w-xl flex-col gap-1 py-6 text-center text-slate-300/70">
    <p>Copyleft © 2024 🚀 Per Aspera Ad Astra</p>
    <p class="font-semibold tracking-wider text-slate-300">Desarrollado por @yidev27</p>
    <a
        title="visitar repo de gndx"
        href="https://github.com/gndx/gndx.io"
        target="_blank"
        rel="nofollow"
        class="font-semibold text-slate-300/70 underline-offset-2 hover:underline"
    >
        inspirado en @gndx
    </a>
</footer>
