---
const { title } = Astro.props;
---

<header class="flex h-full flex-col items-center gap-4 px-4 py-4">
    <section class="flex h-fit w-full flex-col gap-4">
        <div class="flex items-center justify-center gap-2">
            <h1
                class="text-balance text-center text-[20px] font-bold leading-6 tracking-tight text-white min-[360px]:text-[24px] min-[425px]:text-[26px] md:text-3xl md:tracking-normal"
            >
                {title}
            </h1>
            <img
                class="mt-[5px] size-11"
                src="https://img.icons8.com/color/48/venezuela.png"
                alt="icono de bandera de Venezuela"
            />
        </div>
        <div class="mx-auto min-h-fit w-[60%] sm:p-0">
            <figure>
                <picture>
                    <source srcset="/yidev.io/me.avif" type="image/avif" />
                    <source srcset="/yidev.io/me.webp" type="image/webp" />
                    <source srcset="/yidev.io/me.jpg" type="image/jpg" />
                    <img
                        class="mx-auto h-full max-h-36 rounded-sm"
                        decoding="async"
                        loading="eager"
                        src="/yidev.io/me.avif"
                        alt="Avatar creado con Inteligencia artificial de Jesús Alejandro Gutierréz Guevara"
                    />
                </picture>
            </figure>
        </div>
    </section>
    <div class="flex flex-col justify-center gap-1 min-[426px]:justify-start">
        <ul class="flex justify-center gap-x-2 text-sm text-gray-200/80">
            <li>
                <a
                    title="visitar el perfil de instagram @yidev27"
                    href="https://www.instagram.com/yidev27/">@yidev27</a
                >
            </li>
            <li>
                <a title="visitar el perfil de github @xeuz27" href="https://github.com/Xeuz27"
                    >@xeuz27</a
                >
            </li>
            <li>
                <a
                    title="visitar el perfil de instagram @yisus427g"
                    href="https://www.instagram.com/yisus427g/">@yisus427g</a
                >
            </li>
        </ul>
        <h2 class="text-pretty text-sm tracking-wide text-white">
            Desarrollador Fullstack, creando mi primera pagina web en el 2021.
        </h2>
        <h3 class="text-sm tracking-wide text-gray-50/80">#Javascript #React | Mcbo Ve</h3>
    </div>
</header>
