---
import BannerLink from './BannerLink.astro';
---

<section>
    <ul class="tracking-wide">
        <li>
            <BannerLink
                rel="dofollow"
                title="Ver Portfolio"
                href="https://yidev.vercel.app/"
                classes="bg-indigo-400/40 max-md:bg-indigo-800/40 max-md:text-white text-white/80 hover:bg-indigo-800/40 hover:text-white"
            >
                <span>💼</span>
                Portafolio
                <span>💻</span>
            </BannerLink>
        </li>
        <!-- <li>
            <BannerLink
                rel="nofollow"
                title="enviar un mensaje de Whatsapp a Jesus al numero de +58 (414) 617 2019"
                classes="bg-green-400/40 max-md:bg-green-800/40 max-md:text-white text-white/80 hover:text-white hover:bg-green-800/30"
                href="https://wa.me/584146172019?text=Hola,%20me%20interesa%20recibir%20una%20consulta"
            >
                <span>💬</span>
                Whatsapp
                <span>
                    <Whatsapp />
                </span>
            </BannerLink>
        </li> -->
        <li>
            <BannerLink
                rel="nofollow"
                title="enviar un correo electronico a Jesus al correo de yidev27@gmail.com"
                classes="bg-orange-400/40 max-md:bg-orange-800/40 max-md:text-white text-white/80 hover:text-white hover:bg-orange-800/30"
                href="mailto:yidev27@gmail.com"
            >
                <span>💬</span>
                Email
                <span>📧</span>
            </BannerLink>
        </li>
    </ul>
</section>
