---
// @ts-nocheck
import BaseHead from '@/components/BaseHead.astro';
const { title, description, image } = Astro.props;
---

<html lang="es">
    <head>
        <BaseHead title={title} description={description} ogImage={image} />
    </head>
    <body class="relative flex min-h-dvh items-center justify-center overflow-hidden">
        <slot />
        <div id="night" class="night absolute inset-0 z-10"></div>
    </body>
</html>
